
    body {
  background-color: black;
  color:white;

    }

    #SiteTitle:hover {
      color:white;
  }


  #MainContainer {
    background-image: linear-gradient(#161616, black, black, black);
  }

/* 161616*/

  #SubFooter {
/*    background-color: white;
*/
    background-image: linear-gradient(white, white, white, white, #f9f9f9);
    color:black;
  }

  #Footer {
    background-color: white;
    color:black;
  }